/** Base Styles for AGD **/
/* COLORS */
/* GRAPHIC ELEMENTS */
/* Icons */
@media only screen and (max-width: 720px) {
  /* line 13, ../sass/mobile.scss */
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 17, ../sass/mobile.scss */
  .featured-content {
    padding: 0;
  }

  /* line 24, ../sass/mobile.scss */
  .featured-content .dynamite-slider,
  .featured-content .dynamite-slider .slide,
  .featured-content .dynamite-slider #dFolio {
    height: auto;
  }

  /* line 26, ../sass/mobile.scss */
  .main-content .column {
    width: 100%;
    padding-left: 0;
    padding: 10% 0;
  }

  /* line 32, ../sass/mobile.scss */
  .main-content .news.section .post {
    width: 100%;
    padding: 2%;
    margin-bottom: 15px;
  }

  /* line 38, ../sass/mobile.scss */
  body {
    width: 100%;
    min-width: 0;
  }

  /* line 43, ../sass/mobile.scss */
  header .menu-main-nav-container {
    display: none;
  }

  /* line 47, ../sass/mobile.scss */
  .cform {
    display: none;
  }

  /* line 51, ../sass/mobile.scss */
  footer.container .footer-nav {
    min-width: 0;
    width: 100%;
  }
  /* line 54, ../sass/mobile.scss */
  footer.container .footer-nav > li {
    width: 24%;
    margin-right: 0%;
  }

  /* line 60, ../sass/mobile.scss */
  .footer-sub > span {
    clear: both;
    display: block;
  }
  /* line 63, ../sass/mobile.scss */
  .footer-sub > span.right {
    float: none;
    padding: 10px 0;
  }

  /* line 70, ../sass/mobile.scss */
  #dFolio .dContainer {
    width: 33.3%;
  }
  /* line 73, ../sass/mobile.scss */
  #dFolio .dGallery {
    position: relative !important;
  }
  /* line 76, ../sass/mobile.scss */
  #dFolio .dGallery .dContainer:not(:nth-child(-n+6)) {
    display: none;
  }

  /* line 82, ../sass/mobile.scss */
  .featured-content .dynamite-slider {
    width: 100%;
  }
  /* line 85, ../sass/mobile.scss */
  .featured-content .dynamite-slider .button.paging {
    display: none;
  }
  /* line 89, ../sass/mobile.scss */
  .featured-content .dynamite-slider .slide:not(.project-feature) {
    display: none;
  }
  /* line 92, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dynamite-slide-window {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  /* line 97, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dynamite-slide-container {
    position: relative;
    left: auto !important;
    padding: 0;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
