/** Base Styles for AGD **/
/* COLORS */
/* GRAPHIC ELEMENTS */
/* Icons */
@media only screen and (max-width: 720px) {
  /* line 13, ../sass/mobile.scss */
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 17, ../sass/mobile.scss */
  header .mobile-logo {
    display: block;
  }
  /* line 18, ../sass/mobile.scss */
  header .desktop-logo {
    display: none;
  }
  /* line 19, ../sass/mobile.scss */
  header .sidr-menu-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: black;
    position: absolute;
    right: 3em;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  /* line 32, ../sass/mobile.scss */
  .container {
    padding: 0;
  }

  /* line 36, ../sass/mobile.scss */
  .featured-content {
    padding: 0;
  }

  /* line 43, ../sass/mobile.scss */
  .featured-content .dynamite-slider,
  .featured-content .dynamite-slider .slide,
  .featured-content .dynamite-slider #dFolio {
    height: auto;
  }

  /* line 46, ../sass/mobile.scss */
  .featured-content .dynamite-slider .paging {
    display: none;
  }

  /* line 49, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dCard .front {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
  /* line 54, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dCard .back {
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
  }
  /* line 61, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dCard:hover .front {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
  /* line 66, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dCard:hover .back {
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
  }

  /* line 74, ../sass/mobile.scss */
  .main-content .column {
    width: 100%;
    padding-left: 0;
    padding: 10% 0;
  }

  /* line 80, ../sass/mobile.scss */
  .main-content .news.section .post {
    width: 100%;
    padding: 2%;
    margin-bottom: 15px;
  }

  /* line 86, ../sass/mobile.scss */
  body {
    width: 100%;
    min-width: 0;
  }

  /* line 92, ../sass/mobile.scss */
  header .mobile-logo {
    margin-left: 20px;
  }
  /* line 95, ../sass/mobile.scss */
  header .menu-main-nav-container {
    display: none;
  }

  /* line 100, ../sass/mobile.scss */
  .top-menu {
    text-align: center;
    padding: 0px;
    z-index: 9999;
  }
  /* line 104, ../sass/mobile.scss */
  .top-menu .work-selected-category {
    border-right: 0 !important;
    margin: 10px;
    background: #f4f4f4 url(../images/icons/down-arrow.png) no-repeat 90% center;
    background-size: 17px auto;
    border: 1px solid #777777;
    width: 90%;
    padding: 5px 30px;
    border-radius: 10px;
    text-align: left;
  }
  /* line 115, ../sass/mobile.scss */
  .top-menu .btn {
    display: none;
  }
  /* line 120, ../sass/mobile.scss */
  .top-menu.on .btn {
    display: block;
    position: absolute;
    z-index: 9999;
    background: rgba(34, 34, 34, 0.94);
    left: 0;
    right: 0;
    margin: auto;
    width: 85%;
    top: 40px;
    padding: 10px 20px;
    text-align: left;
  }
  /* line 133, ../sass/mobile.scss */
  .top-menu.on .btn li {
    border-right: 0px;
    width: 100%;
    margin-bottom: 5px;
  }
  /* line 137, ../sass/mobile.scss */
  .top-menu.on .btn li:not(:last-child) {
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
  }
  /* line 141, ../sass/mobile.scss */
  .top-menu.on .btn li a {
    color: #777;
  }

  /* line 149, ../sass/mobile.scss */
  .cform {
    display: none;
  }

  /* line 153, ../sass/mobile.scss */
  footer.container .footer-nav {
    min-width: 0;
    width: 100%;
  }
  /* line 156, ../sass/mobile.scss */
  footer.container .footer-nav > li {
    width: 24%;
    margin-right: 0%;
  }

  /* line 162, ../sass/mobile.scss */
  .footer-sub > span {
    clear: both;
    display: block;
  }
  /* line 165, ../sass/mobile.scss */
  .footer-sub > span.right {
    float: none;
    padding: 10px 0;
  }

  /* line 171, ../sass/mobile.scss */
  .subheader .headline {
    padding: 10px 20px;
  }

  /* line 175, ../sass/mobile.scss */
  .subheader form {
    display: none;
  }

  /* line 179, ../sass/mobile.scss */
  #dFolio {
    margin: 0 !important;
  }
  /* line 181, ../sass/mobile.scss */
  #dFolio .dContainer {
    width: 33%;
  }
  /* line 184, ../sass/mobile.scss */
  #dFolio .dGallery {
    position: relative !important;
  }
  /* line 187, ../sass/mobile.scss */
  #dFolio .dGallery .dContainer:not(:nth-child(-n+6)) {
    display: none;
  }

  /* line 193, ../sass/mobile.scss */
  .featured-content .dynamite-slider {
    width: 100%;
  }
  /* line 196, ../sass/mobile.scss */
  .featured-content .dynamite-slider .button.paging {
    display: none;
  }
  /* line 200, ../sass/mobile.scss */
  .featured-content .dynamite-slider .slide:not(.project-feature) {
    display: none;
  }
  /* line 203, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dynamite-slide-window {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  /* line 208, ../sass/mobile.scss */
  .featured-content .dynamite-slider .dynamite-slide-container {
    position: relative;
    left: auto !important;
    padding: 0;
  }

  /* line 216, ../sass/mobile.scss */
  .sidr.right {
    background: #a09f9f;
    -webkit-box-shadow: inset 10px -1px 5px -6px #000;
    -moz-box-shadow: inset 10px -1px 5px -6px #000;
    box-shadow: inset 10px -1px 5px -6px #000;
  }
  /* line 221, ../sass/mobile.scss */
  .sidr.right .sidr-inner > .sidr-class-menu-item {
    padding: 10px 20px;
    border-bottom: 1px solid white;
  }
  /* line 224, ../sass/mobile.scss */
  .sidr.right .sidr-inner > .sidr-class-menu-item a {
    color: white;
    text-decoration: none;
  }
  /* line 229, ../sass/mobile.scss */
  .sidr.right #sidr-id-socialmedia-container {
    margin-left: 20px;
  }
  /* line 232, ../sass/mobile.scss */
  .sidr.right .sidr-class-smc_icon_container {
    display: inline-block;
    margin-right: 10px;
  }
}
