/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import "agd";

/** Base **/
body{ background: url(../images/diagonal-stripes.png); }
strong { font-weight: bold; }
.right { float: right; }

/** Typography **/
body { 
	font-size: $fontMedium; 
	font-family: 'Open Sans', Arial, sans-serif;
	color: $textGray;
	line-height: 1.3em;
}

a { 
	color: $red; 
	font-weight: 700;
}

p {
	margin-bottom: 1.33em; 
}

h1 {
	font-size: $fontXLarge;
	font-weight: 700;
	color: black;
}

h2 {
	font-size: $fontMedium;
	border: none;
}

h3 {
	font-size: $fontLarge;
	font-weight: 700;
	color: black;
}

/** Layout **/ 
.container { 
	width: 100%;
	max-width: 1080px; 
	margin: auto;
}
.section {
	margin-bottom: 20px;
}

/* 	Columns */
.column { 
	display: inline-block; 
	vertical-align: top; 
	margin:0; 
	padding: 60px 0; 
}

.one-third { width: 25%; padding-left: 8%}
.two-third { width: 58%; padding-right: 8%}
.left-column { width: 160px; padding-left: 8%; }
.wide-content { width: 740px; padding-right: 8% }

.menu {
	li {
		list-style: none;
	}
}

header {
	height: 100px;
	@include header-gradient;
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);

	.home-logo{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding-top: 30px;
	}

	.menu-main-nav-container {
		width: 49%;
		display: inline-block;
		vertical-align: top;
		.menu{
			text-align: right;
			li {
				display: inline-block;
				border-right: 1px solid #E70000;
				height: 36px;
				margin-top: 1px;
				a{
					display: block;
					text-decoration: none;
					font-size: 14px;
					font-weight: normal;
					text-align: center;
					color: #FFF;
					width: 105px;
					height: 97px;
					padding-top: 12px;
					&:hover{
						background: url(../images/nav_over.png) no-repeat;
					}
				}
			}
		}
	}
}

.subheader {
	background: $darkGray;
	// padding: 10px 0;
	min-height: 50px;

	input {
		display: inline-block;
		vertical-align: middle;
	}

	.searchform {
		label { display: none; }
		float: right;
		padding: 10px;
		background: $backgroundGray;
		
		input[type="text"] {
			background: #d8d8d8;
			border: none;
			border-radius: 3px;
			padding: 3px;
			width: 300px;
			margin-right: 10px;
		}

		input[type="submit"] { 
			@include blue-button;
		}

	}

	.headline {
		// text-align: center;
		padding: 20px 8%;
		font-size: 18px;
		width: 84%;
		max-width: 896px;
		color: white;
	}
}

.featured-content{
	display: block;
	position: relative;
	width: 100%;
	background: $darkGray;
	padding: 0 0 40px; 

	.featured-slider{
		display: block;
		position: relative;
		width: 100%;
		max-width: 1080px;
		height: 400px;
		background: white;
		margin: auto;
	}
}

.main-content {
	h1, h2 { margin-bottom: 10px; }
	h2 {
		font-size: $fontMedium;
		font-weight: 700;
		color: black;
	}
	h3 {
		padding-bottom: 10px; 
		border-bottom: 3px solid $lightGray;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	li {
		list-style: disc inside;
	}
	.menu li { list-style: none; } 

	img { max-width: 100%; }

	.container{
		background: white;
		max-width: 1080px;
	}

	/* 	Columns */
	.one-third { width: 27%; padding: 60px 3%}
	.two-third { width: 58%; padding: 60px 4%}

	/* Home Page */
	.testimonial { 
		border-top: 3px solid $lightGray; 
		padding: 20px 0;

		& > img, & > div {
			display: inline-block;
			vertical-align: top;
		}

		.client-quote {
			width: 205px;
			margin-left: 20px;

			& > p {
				font-style: italic;
				font-size: $fontXLarge;
				line-height: 1.45em;
			}

			.client-info {
				margin-top: 10px;
				.client-name {
					font-weight: 700;
					clear: both;
					display: block;
				}
				.client-position { }
			}
		}

	}
	.read-more {
		position: relative;
		display: block;
		margin-top: 5px;
		text-transform: uppercase;
	}
	/* Stay Connected Form */
	.stay-connected {
		.cf-ol, .cf-sb { display: inline-block; }
		.cf_hidden { display: none; }

		margin-bottom: 40px;

		li { 
			display: inline-block; 
			margin-right: 10px;
		}
		input {
			border-radius: 5px;
			border: 1px solid $textGray;
			background: $lightGray;
			color: $textGray;
		}
		input[type="text"] {
			padding: 3px 5px;
			width: 170px;
		}
		input[type="submit"] {
			@include blue-button;
		}
	}
	/* News Section */
	.news.section {
		.post {
			display: inline-block;
			vertical-align: top;
			width: 46.5%; 
			height: 170%;
			margin-bottom: 40px;
			&:nth-of-type(odd){
				margin-right: 5%;
			}
		}
	}
}

.dBio {
	position: relative;
	.close { 
		display: block;
		position: absolute;
		top: 20px;
		left: 20px;
		width: 20px;
		height: 20px;
		background: black;
		z-index: 10;
	}
	.member-social {
		position: relative;
		margin: 10px 0;

		li{
			display: inline-block;
			a {
				display: block;
				width: 20px;
				height: 20px;
				background: black;
				margin-right: 10px;
			}
		}
	}
}


/* Blog Post */
.single {
	.main-content {
		time { position: relative; font-size: 10px; margin-bottom: 1.3em;}
		h1 {
			font-size: 20px;
			margin-bottom: 1em;
		}
	}
	.categories {
		font-weight: 700; 
		list-style: none;
		color: black;
		ul { 
			margin-top: 3px;
			padding-top: 3px;
			li{
				font-weight: 400;
				list-style: none;
				a { color: black; text-decoration: none; font-weight: 400; }
			}
		}
	}
}



footer.container {
	max-width: 1000px;
	padding: 40px;
	background: white;
	font-size: $fontSmall;
	.footer-nav {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		li {
			display: inline-block;
			width: 75px;
			vertical-align: top;
			margin-bottom: 10px;
			margin-right: 20px;
			a {
				color: $textGray;
				text-decoration: none;
				font-weight: 400;
			}
		}
	}

	.footer-social-links {
		display: inline-block;
		vertical-align: bottom;
		text-align: right;
		width: 49%;

		#socialmedia-container DIV.smc_icon_container {
			margin: 0 10px !important;
			&:last-child { margin-right: 0 !important; }
		}
	}

	.footer-sub {
		padding-top: 20px;
		margin-top: 20px;
		border-top: 4px solid $lightGray;
	}
}





/* misc styles */
.linklove { display: none; }


















